
@font-face {
  font-family: 'home-helper-grom';
  src: url('home-helper-grom.woff2') format('woff2'),
       url('home-helper-grom.woff') format('woff'),
       url('home-helper-grom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'home-helper-grom' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.use-line-height {
  line-height: 1;
}

.icon-add:before { content: "\e900"; }
.icon-calendar:before { content: "\e901"; }
.icon-edit:before { content: "\e902"; }
.icon-email:before { content: "\e903"; }
.icon-folder:before { content: "\e904"; }
.icon-link:before { content: "\e905"; }
.icon-linkedin:before { content: "\e906"; }
.icon-options:before { content: "\e907"; }
.icon-search:before { content: "\e908"; }
.icon-trashcan:before { content: "\e909"; }