@font-face {
    font-family: "Inter";
    src: url("../fnt/Inter.ttf") format("truetype");
}


* {
    font-family: "Inter", Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    box-sizing: border-box;
}
