@import "../fnt/home-helper-grom/home-helper-grom.css";

@font-face {
    font-family: "SpaceGrotesk";
    src: url("../fnt/SpaceGrotesk.ttf") format("truetype");
}

:root {
    --text-colour: #000000;
    --text-accent: #00B2FF;

    --border-colour: #cccccc;
    --border-accent: #9fbae8;
}

* {
    font-family: "SpaceGrotesk", monospace, sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;

    border-radius: 0.25rem;
    /* text-transform: lowercase; */
}

html, body {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-width: 400px;
    width: 100%;
    flex-grow: 1;
    height: 100%;

    border-left: 1px solid var(--border-colour);
    border-right: 1px solid var(--border-colour);

    border-radius: 0;
}

header {
    background-color: #fff;
    padding: 1rem 1rem 0.5rem 1rem;
    text-align: center;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 1rem;

    align-items: center;

    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    align-items: center;
    height: 100%;

    margin-top: 0.5rem;
    flex-shrink: 0;
}

.nav-link {
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-top: 0.25rem;
    text-decoration: none;
    color: var(--text-colour);
}

.nav-link::before {
    position: absolute;
    top: 0.3rem;
    content: "";
    display: inline-block;
    width: 1rem;
    height: 2px;
    background-color: var(--text-colour);
}

.nav-link:hover {
    color: var(--text-accent);
}

.nav-link:hover::before {
    background-color: var(--text-accent);
}


.nav-logo {
    height: 2rem;
    width: auto;
}

.footer {
    min-height: 150px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.footer-logo {
    height: 1.5rem;
    width: fit-content;
}

.footer-grid {
    grid-template-columns: 35% 20% 20% 20%;
    grid-template-rows: 100%;
    grid-gap: 0.5rem;
    display: grid;
    width: 100%;
    height: 100%;
    flex: 1;
}


.footer-grid-item {
    width: fit-content;
    height: fit-content;
}

.page-content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    flex-grow: 1;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.gap-1 {
    gap: 1rem;
}

.col.w0 { flex: 0; }
.col.w1 { flex: 1; }
.col.w2 { flex: 2; }
.col.w3 { flex: 3; }
.col.w4 { flex: 4; }
.col.w5 { flex: 5; }
.col.w6 { flex: 6; }
.col.w7 { flex: 7; }
.col.w8 { flex: 8; }

.row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.align-centre {
    align-items: center;
}

.float-right {
    margin-left: auto;
}

.no-gap {
    gap: 0;
}

.wrap {
    flex-wrap: wrap;
}

.relative {
    position: relative;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

.subtitle {
    font-size: 1.25rem;
}

.profile-badge {
    max-width: 2rem;
    max-height: 2rem;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 0.25rem;

    background-color: var(--border-colour);
}

.profile-badge.author-icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.profile-badge.details-page-icon {
    max-width: 2rem;
    max-height: 2rem;
    width: 2rem;
    height: 2rem;
}

.profile-badge img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem 0.5rem;
    margin: 0.5rem 0;
}

.similar-games {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.game-card {
    position: relative;
    color: var(--text-colour);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-colour);
    text-decoration: unset;
}

.game-card-label {
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: #fff;
}

.game-author, .header {
    color: #a0a0a0;
}

.game-platforms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.game-platform {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
    border: 1px solid var(--border-colour);
    color: var(--text-colour);
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.game-card-image {
    width: 100%;
    aspect-ratio: 1/1.33;
    min-height: 0;
    object-fit: cover;
}

.game-cover {
    width: 100%;
    height: 100%;
    min-height: 0;
    object-fit: cover;
}

.game-card-content {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    gap: 0.25rem;
}

.game-card-price {
    position: relative;
    margin-top: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--border-colour);
}

.game-card-title {
    position: relative;
    padding: 0.5rem 0 0 0;
}

.game-card-title-fancy {
    position: relative;
    padding: 0.5rem 0 0 0;
}

.game-card-title-fancy::before {
    position: absolute;
    top: 0.3rem;
    content: "";
    display: inline-block;
    width: 1rem;
    height: 2px;
    background-color: var(--text-accent);
}

.game-name-keyword {
    color: var(--text-accent);
}

input {
    border: 1px solid #000;
}

button,
.button {
    border: 1px solid #000;
    background-color: transparent;
    color: var(--text-colour);
    padding: 0.5rem 1rem;

    text-decoration: none;
    font-size: 0.75rem;
}

button:hover,
.button:hover {
    cursor: pointer;
    border: 1px solid var(--text-accent);
    color: var(--text-accent);
}

button:disabled,
.button:disabled {
    color: var(--border-colour);
    border: 1px solid var(--border-colour);
    pointer-events: none;
}

.password-visibility {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none !important;
}

.expand {
    width: 100%;
}

.search-input {
    width: 100%;
    padding: 0.5rem;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--border-colour);
    border: none;
}

.vr {
    display: block;
    height: 100%;
    width: 1px;
    background-color: var(--border-colour);
    border: none;
    margin: 0 0.5rem;
}

.no-shrink {
    flex-shrink: 0;
}

.game-date {
    font-size: 1rem;
}

.error-banner {
    width: 100%;
    text-align: center;
    opacity: 50%;
    margin: auto;
}

.error-container {
    display: flex;
    flex-direction: column;
    min-height: 4rem;
}

.filter-options {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    margin: 1rem 0 0.25rem 0;
}

.filter {
    position: relative;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
    border: 1px solid var(--border-colour);
    color: var(--text-colour);
    text-decoration: none;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: min-content;
}

.filter:has(.filter-header:hover)  {
    color: var(--text-accent);
    border-color: var(--border-accent);
}

.filter-header {
    width: 100%;
    min-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    justify-content: space-between;
    transition: width 2s;

    cursor: pointer;
    color: var(--text-colour);
    text-decoration: none;
}

.filter-header:hover {
    color: var(--text-accent);
}

.filter-body {
    width: max-content;
    min-width: 100px;
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 10;
    background-color: #fff;
    border: 1px solid var(--border-colour);
}

.filter-input {
    min-width: 0;
    width: 100px;
}

.filter-checkbox {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    color: var(--text-colour);
}


.filter-checkbox:hover {
    color: var(--text-accent);
}

.buy-cta {
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 0;

    border: 1px solid var(--border-colour);
    padding: 1rem;
    font-size: 1.5rem;
}

.buy-option-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: -1.25rem;
    right: 0.5rem;
    height: fit-content;
    gap: 10px;

    border: 1px solid var(--border-colour);
    background-color: #fff;
    padding: 0.5rem;
}

.buy-price {
    font-size: 1rem;
    padding: 0 0.5rem;
}

.platform-list {
    font-size: 1rem;
    max-width: 70%;
}

.platform-list.unbound {
    max-width: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.game-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.user-reviews {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    min-height: 4rem;
}

.user-review {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-colour);
}

.star-rating {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 0;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;

    margin: 1rem 0;
}

.form-input {
    position: relative;
    width: 100%;
}

.form-label {
    position: absolute;
    background-color: #ffffff;
    top: -0.5rem;
    left: 0.5rem;
    font-size: 0.8rem;
    padding: 0 0.1rem;
}

.form-input input,
.form-input select {
    padding: 0.5rem;
    width: 100%;
}

.form-input.border {
    border: 1px solid #000;
    padding: 0.5rem;
}

.checkbox-label {
    flex-shrink: 0;
}

.checkbox-label input {
    width: min-content;
}

textarea {
    padding: 0.5rem;
    width: 100%;
    min-width: 100%;
    resize: none;
}

.profile-dropdown-wrapper {
    position: relative;
}

.profile-dropdown {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #000;
    color: var(--text-colour);

    right: -0.5rem;

    width: 150px;

    top: 2.25rem;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;
    gap: 0.25rem;
}

.dropdown-option {
    color: var(--text-colour);
    text-decoration: none;
}

.dropdown-option:hover {
    color: var(--text-accent);
}